@media ( max-width: 1200px )
    .register
        &__items
            min-width: 600px
    .feedback
        &__form
            input
                width: 100%
                &[name="name"]
                    margin-left: 0
@media ( max-width: 991px )
    .register
        &__items
            min-width: 400px
    